server:
  port: 9092
management:
  endpoints:
    web:
      exposure:
        include: '*'
logging:
  level:
    org:
      springframework:
        cloud:
          gateway: TRACE
spring:
  main:
    allow-bean-definition-overriding: true
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:8100"
            allowedHeaders:
              - content-type
            allowedMethods:
              - GET
              - POST
      routes:
        - id: water-monitor-service
          uri: 'http://localhost:8043'
          predicates:
            - Path=/water-monitor-service/**